<div class="wrapper">
    <div class="content-login">
        <div class="panel">
            <div class="panel-heading">
                <img src="img/logobranco.png" class="img-140" alt="Fairfax">
            </div>
            <div class="panel-body">
                <p class="instructions">Você deseja confirmar seu Cadastro?</p>
                <button class="btn btn-block btn-success" ng-click="emailConfirmation.doConfirm()">Confirmar</button>
            </div>
        </div>
        <div class="copyright">
            <span>© {{$state.current.data.dateCurrent}} - Fairfax</span>
        </div>
    </div>
</div>