<div class="wrapper">
    <div class="content-login">
        <div class="panel">
            <div class="panel-heading">
                <img src="img/logobranco.png" class="img-140" alt="Fairfax">
            </div>
            <div class="panel-body">
                <p>Esqueceu a Senha?</p>
                <form novalidate name="form">
                    <p class="instructions">Preencha com seu e-mail para receber instruções sobre como redefinir sua senha.</p>
                    <div class="form-group has-feedback" ng-class="{ 'has-error': form.email.$invalid && (form.$submitted || form.email.$touched) }">
                        <input type="text" class="form-control" ng-model="forgotPassword.email" name="email" id="email" placeholder="Email" required>
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                        <div ng-show="form.$submitted || form.email.$touched">
                            <div class="text-danger" ng-show="form.email.$error.required">Esse campo é obrigatório</div>
                        </div>
                    </div>
                    <button class="btn btn-block btn-danger" ng-click="forgotPassword.doSend(form)" type="submit">Enviar</button>
                </form>
            </div>
        </div>
        <div class="copyright">
            <span>© {{$state.current.data.dateCurrent}} - Fairfax</span>
        </div>
    </div>
</div>