<div ui-view>
    <div class="row">
        <h2 class="col-md-12">Detalhes do Usuário</h2>
    </div>
    <form class="form-horizontal" name="formUsuario" id="formUsuario" novalidate>
        <fieldset>
            <div class="form-group" ng-class="{ 'has-error': formUsuario.Nome.$invalid && (formUsuario.$submitted || formUsuario.Nome.$touched) }">
                <label class="col-md-3 control-label"><strong>Nome</strong></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="registerUser.usuarioModel.Nome" required name="Nome" id="Nome" class="form-control">
                    <div ng-show="formUsuario.$submitted || formUsuario.Nome.$touched">
                        <div class="text-danger text-left" ng-show="formUsuario.Nome.$error.required">Esse campo é obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formUsuario.Email.$invalid && (formUsuario.$submitted || formUsuario.Email.$touched) }">
                <label class="col-md-3 control-label"><strong>Email</strong></label>
                <div class="col-sm-9">
                    <input type="email" ng-model="registerUser.usuarioModel.Email" required name="Email" id="Email" class="form-control">
                    <div ng-show="formUsuario.$submitted || formUsuario.Email.$touched">
                        <div class="text-danger text-left" ng-show="formUsuario.Email.$error.required">Esse campo é obrigatório</div>
                        <div class="text-danger" ng-show="formUsuario.Email.$error.email">Digite um endereço de e-mail válido</div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formUsuario.Cargo.$invalid && (formUsuario.$submitted || formUsuario.Cargo.$touched) }">
                <label class="col-md-3 control-label"><strong>Cargo</strong></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="registerUser.usuarioModel.Cargo" required name="Cargo" id="Cargo" class="form-control">
                    <div ng-show="formUsuario.$submitted || formUsuario.Cargo.$touched">
                        <div class="text-danger text-left" ng-show="formUsuario.Cargo.$error.required">Esse campo é obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': formUsuario.DataNascimento.$invalid && (formUsuario.$submitted || formUsuario.DataNascimento.$touched) }">
                <label class="col-md-3 control-label"><strong>Data de Nascimento</strong></label>
                <div class="col-sm-3">
                    <div class="input-group" ng-controller="datePickerController">
                        <input 
                            uib-datepicker-popup="{{format}}"
                            show-button-bar="false"
                            is-open="opened"
                            close-text="Close"
                            datepicker-popup="{{format}}" 
                            datepicker-options="dateOptions" 
                            required                            
                            type="text"
                            name="DataNascimento"
                            id="DataNascimento"
                            class="form-control"                            
                            ng-model="registerUser.usuarioModel.DataNascimento">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                        
                    </div>
                    <div ng-show="formUsuario.$submitted || formUsuario.DataNascimento.$touched">
                        <div class="text-danger text-left" ng-show="formUsuario.DataNascimento.$error.required">Esse campo é obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"><strong>Foto</strong></label>
                <div class="col-sm-9">
                    <div 
                        ngf-drop 
                        ngf-select 
                        ng-model="registerUser.usuarioModel.Foto" 
                        class="drop-box" 
                        ngf-drag-over-class="'dragover'" 
                        ngf-multiple="true" 
                        ngf-allow-dir="true"
                        accept="image/*" 
                        ngf-pattern="'image/*'"
                        id="Foto"
                        name="Foto"
                        required>
                        Arraste aqui sua imagem ou clique para carregar.
                    </div>
                    <div ng-show="formUsuario.$submitted || formUsuario.Foto.$touched">
                        <div class="text-danger text-left" ng-show="formUsuario.Foto.$error.required">Esse campo é obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9 text-right">                    
                    <button class="btn btn-warning" type="button" ng-click="registerUser.cancel()">
                        <i class="fa fa-undo"></i> Cancelar
                    </button>
                    <button class="btn btn-primary" type="submit" ng-click="registerUser.save(formUsuario)">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>