.body-500 {
    background-color: #d73d32!important;
    color: #fff;
}

.error-header {
    background: #fff;
    height: 280px;
}

.error-container {
    background: rgba(0, 0, 0, .05);
    text-align: center;
    p.description {
        color: #e5e5e5;
        font-size: 40px;
        margin: 0;
    }
    h1 {
        color: #d73d32!important;
        margin: -108px 0 0;
        text-align: center;
        font-size: 100px;
    }
    h2 {
        font-size: 58px;
        font-weight: 300;
        margin: 0;
        text-transform: uppercase;
    }
}

.error-divider {
    margin-top: -27px;
    padding: 30px 0;
}

.return-btn,
.return-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  margin-top: 100px;
  margin-bottom: 30px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  i {
      margin-right: 5px;
  }
}

.return-btn:hover {
  background: #ffffff;
  color: #2dc3e8;
  text-decoration: none;
}